@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


* {
    box-sizing: border-box;
}

/* RESET START */

body {
    background-color: #fff;
    font: 300 15px/1 'Open Sans', sans-serif;
    margin: 0;
    color: #777;

    @media (max-width: 599px) {
        font-size: 14px;
    }
}

/* DEFAULT CLASSES END */

/* DEFAULT COMPONENTS START */


.default-section {
    padding: 140px 0;

    &.small-section {
        padding: 70px 0;
    }
}

.default-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #777;
    line-height: 1.733;
}

/* RHOMB-ICON START */

.rhomb-icon {
    display: inline-block;
    height: 23px;
    width: 23px;
    text-align: center;
    line-height: 23px;
    border-radius: 2px;
    font-size: 14px;
    transform: rotate(45deg);

    > * {
        transform: rotate(-45deg);
    }

    &.black-icon {
        background-color: #111;
        color: #fff;
    }

    &.white-icon {
        background-color: #fff;
        color: #111;
    }

    &.large {
        width: 27px;
        height: 27px;
        line-height: 27px;
    }

    &.transparent-icon {
        color: #111;
        border: 1px solid rgba(0, 0, 0, .7);
        transition: all .3s linear;

        &:hover {
            background-color: #111;
            color: #fff;
        }
    }

    &.middle {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
}

/* RHOMB-ICON END */

/* HEADER START */

.header {
    padding: 25px 0;
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;

    .header-logo {
        float: left;
    }

    .header-nav {
        float: right;
        line-height: 21px;

        a {
            transition: all 0.3s linear;
            font-size: 1em;
            letter-spacing: .3em;
            color: rgba(255, 255, 255, 0.9);
            font-weight: 400;

            &:hover {
                color: rgba(255, 255, 255, 1);
            }

            & + a {
                margin-left: 35px;
            }
        }
    }

    .navbar-toggle {
        padding: 0;
        margin: 0;
        border: none;

        .icon-bar {
            background-color: #fff;
        }
    }

    @media (max-width: 767px) {
        #header-nav {
            position: absolute;
            top: 100%;
            width: 90%;
            background-color: #000;
            z-index: 99;
            text-align: center;
        }

        .header-nav {
            width: 100%;
            text-align: center;
            padding: 15px 0;

            a {
                display: block;

                & + a {
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
        }
    }
}

/* HEADER END */

/* INNER START */

.inner {
    background: url("../images/header.jpg") center center / cover no-repeat;
    height: 100vh;
    position: relative;

    &::before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-left: -4px;
    }

    .inner-content {
        display: inline-block;
        vertical-align: middle;

        .title {
            margin-bottom: 90px;
            text-indent: 1.7em;

            > * {
                font-size: 30px;
                letter-spacing: 1.7em;
                color: rgba(254, 254, 254, .9);
            }
        }

        .sub-title {
            > * {
                font-size: 19px;
                letter-spacing: 8px;
                font-family: 'Open Sans', sans-serif;
                color: rgba(254, 254, 254, .68);
            }
        }
    }

    .inner-decor-down {
        position: absolute;
        bottom: 35px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        cursor: pointer;
        transition: all .3s linear;

        .fa-chevron-down {
            font-size: 15px;
            color: #222;
            transform: rotate(-45deg) translateY(5px);
        }

        &:hover {
            opacity: .7;
        }
    }

    @media (max-width: 1199px) {
        .inner-content .title {
            margin-bottom: 50px;
        }
    }

    @media (max-width: 991px) {
        .inner-content .title > * {
            letter-spacing: .7em;
        }

        .inner-content .title {
            text-indent: .7em;
        }
    }

    @media (max-width: 767px) {
        height: auto;
        padding: 150px 0;
    }

    @media (max-width: 599px) {
        .inner-content .title > * {
            letter-spacing: .5em;
            font-size: 28px;
        }

        .inner-content .title {
            text-indent: .5em;
        }

        .inner-content .sub-title > * {
            font-size: 18px;
        }
    }
}

/* INNER END */

/* === REVIEWS START=== */
// Variables
$white: rgba(255, 255, 255, .75);
$dark: #111;
$lightGray: rgba(255, 255, 255, .3);
$primaryFontSize: 18px;

.reviews {
    overflow: hidden;


    .carousel {
        padding: 140px 0;

        .carousel-arrow {
            bottom: 50%;
            transform: translateX(-50%);
        }

        .carousel-control {
            .fa {
                position: absolute;
            }

            &.left .fa {
                right: 18px;
                top: 9px;
                transform: rotate(-45deg);
            }

            &.right {
                margin-left: 0;
                margin-right: -44px;

                .fa {
                    left: 18px;
                    bottom: 9px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.review-comment {
    font-size: $primaryFontSize;
    color: $white;
    max-width: 750px;
    margin: 0 auto 20px auto;
    line-height: 1.7;
}

.author {
    font-size: 11px;
    text-transform: uppercase;
    color: $lightGray;
    letter-spacing: .2em;
}

.title {
    font-weight: 300;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 75px;
    text-transform: uppercase;
    color: $dark;
    letter-spacing: .3em;

    & > * {
        font-size: $primaryFontSize;
    }

    &.small {
        letter-spacing: .4em;
        margin-bottom: 30px;

        & > * {
            font-size: 15px;
        }
    }

    &.less-margin {
        margin-bottom: 20px;
    }

    &.white {
        color: $white;
    }

    @media (max-width: 767px) {
        margin-bottom: 40px;
    }

    @media (max-width: 479px) {
        margin-bottom: 30px;
        text-align: center;

        .title-link {
            float: none !important;
            display: block;
            margin-top: 10px;
        }
    }
}

.btn-white {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
    :hover {
        color: white;
        box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
        background-color: rgb(0, 0, 0);
    }
}

input[type="text"] {
    outline: none;
}

.v-btn__overlay {
    background: transparent !important;
    transition: 0.5s ease-in-out;
}

.v-list-item:hover {
    color: white !important;
}

.background {
    overflow: hidden;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.submit-button {
    background-color: white;
    transition: 0.3s ease-in-out !important;
    color: black;
    &:hover {
        color: #d09c6e;
    }
}

.vuecal .day-split-header {font-size: 11px;}
.vuecal__body .split1 {border-right: 2px solid lightgrey}
.vuecal__body .split2 {border-right: 2px solid lightgrey}
.vuecal__body .split3 {border-right: 2px solid lightgrey}
.vuecal__body .split4 {border-right: 2px solid lightgrey}
.vuecal__body .split5 {border-right: 2px solid lightgrey}
.vuecal__body .split6 {border-right: 2px solid lightgrey}
.vuecal__body .split7 {border-right: 2px solid lightgrey}
.vuecal__no-event {display: none;}
.vuecal__event {cursor: pointer;}

.vuecal__event-title {
    margin: 4px 0 8px;
}

.vuecal__event-time {
    display: inline-block;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.vuecal__event-content {
    font-style: italic;
}

.v-list-item:hover > .v-list-item__overlay {
}

.v-card:hover > .v-card__overlay {
    opacity: 0.1 !important;
}

.vuecal--date-picker:not(.vuecal--day-view) .vuecal__cell--selected .vuecal__cell-content{
    background-color: #d09c6e !important;
}

.vuecal__cell-split {
    border: 1px solid rgba(1,1,1,0.25) !important;
}

.vuecal__title-bar {
    background-color: transparent !important;
}

.vuecal__flex .weekday-label {
    color: black !important;
    opacity: 1 !important;
}

.navbarTile:hover {
    border-radius: 4px;
    background: #455A64;
}

.v-list-item__overlay, .v-list-item__underlay, .v-list-item__prepend, .v-list-item__content {
    &:hover {
        color: black;
    }
    &:focus {
        color: black;
    }
    &:active {
        color: black;
    }
}

#action-icon{
    color:black;
    transition: 0.25s ease-in-out;
    &:hover {
        color: #d09c6e;
    }
}

.v-list-item--variant-text .v-list-item__overlay {
    background-color: transparent !important;;
}


